.SearchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.SearchBar input {
  display: flex;
  min-height: 3vh;
  width: 100%;
  border: 1px solid white;
  border-radius: 1.5rem;
  padding: 0.5rem;
}
